<div class="card text-center">
    <div class="oval"><img class="card-img-top" src="{{ file_url(content.field_service_column1_image['#items'].entity.uri.value) }}" alt="{{ content.field_service_column1_image['#items'].alt }}" title="{{ content.field_service_column1_image['#items'].title }}"></div>
    <div class="card-body">
        <h3 class="card-title">{{ content.field_service_column1_title.0 }}</h3>
        <p class="card-text">{{ content.field_service_column1_descriptio.0 }}</p>
    </div>
</div>
