<div class="card text-center"><img class="card-img-top" src="{{ file_url(content.field_news_image['#items'].entity.uri.value) }}" alt="{{ content.field_news_image['#items'].alt }}" title="{{ content.field_news_image['#items'].title }}">
    <div class="card-body text-left pr-0 pl-0">
        <h5>{{ content.field_news_title.0 }} </h5>
        <p class="card-text">{{ content.field_news_description.0 }}</p>
        <a href="{{ content.field_news_bu[0]['#url']|render }}">{{ content.field_news_bu[0]['#title']|render }}<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
</div>