<div class="media col-md-6 col-lg-4">
    
    <div class="oval mr-4">
    	<img class="align-self-start" src="{{ file_url(content.field_feature_image['#items'].entity.uri.value) }}" alt="{{ content.field_feature_image['#items'].alt }}" title="{{ content.field_feature_image['#items'].title }}">
    </div>
    <div class="media-body">

        <h5 class="mb-0">{{ content.field_feature_title.0 }}</h5>
       
        {{ content.field_feature_description.0 }}
    
    </div>

</div>